body{
    background-color: #d1bdbd;
    font-family: arial;
}

h1{
    color:black;
    text-align:center;
}

h2{
    color:black;
}


p{
    font-size:18px;
}


                          /* day 10 of coding content*/

h1{
    margin-top:60px;
}

p{
    margin-left:20px;
}

img{
    margin-left:20px;
    border:8px groove rgb(103, 92, 103);
}

table{
    margin:20px;
    border:4px inset black;
}

div{
    padding:20px;   /*background or border nahi hai to padding margin jaisa kam krta h top,bottom,left,right har traf padding applt hoja ga*/
}










/*ye cheez maine sayad day 12 me sikha ki ham kisi bhi content me div tag laga kr use box ki taraha use kr sakte hai by default child box rahega*/

.Sbody{
    margin-top:0px;       /*ye jo pura content nav bar se leke last divide tha usko maine name deke top me outside space de diya*/
}

.tittle{
    padding-top: 60px;
}










                         /* Day 11 of coding content */  

.navbar ul{
    list-style: none;  
    padding:0;          /*  ye list ki padding hai*/
    background-color:rgb(139, 104, 104);
    padding:10px;       /*  ye background color ki padding hai  items ke 10px around color jayega*/
}

.navbar li{
    display:inline;    /*ek line me item aa jaye ga   or paddind= items ke around (outside)10px ka gap aaajaye ga*/ 
    padding:100px;      
}

.navbar a{
    text-decoration:none;     /*text docration isi liye lagate hai jaisa ancor tag me home hai to usme underline kiya huya ata hai usko hatane k liye*/
    color: black;
    transition: 1s;          /*day 15 */
    display:inline-block;    /*day 15 transform kabhi kkam nahi krta beacouse <a> is inline */
}

.navbar a:hover{
    color:rgb(70, 70, 169);
    transform:scale(1.2,1.3);                              /*day 15 hover anchor tag me use ktw hai kyu ki clickable links hote hai jisme ham  hover effect dal sakte h*/
}

.navbar{                    /*DAY 14 CODING CONTENT KA HAI*/
    position:fixed;
    top:0;
    width:100%;
 
}




/* day 12 flexbox styling*/

.box-container{                   
    border:2px solid black;
    display:flex;
    justify-content:space-between;   /*space-between*/
/*tum khud se bhi box container ki height set kr sakte ho , ex) height 300px; or isme tum (align-items:center); kro but but bydefault content ke size ke hisab se adjust hota hai isme align items lagane ki zrurat nahi*/
   /* gap:20px;
   flex-direction: column;
   align-items:center;*/
}

.box{
    border: 2px solid black;
    background-color: rgb(147, 87, 147);
    height:25px;
    width:25px;
    padding:20px;  /*jo box ke andr likha hao wo beech me ayega*/
    margin:20px;    /* it creates space between boxes*/
}




/* day 13 responsive design  using media query*/

@media (max-width: 600px){
    body{
        background-color: yellow;
    }

    .box-container{
        display:flex;
        flex-direction: column;
        gap:20px;
        justify-content:center;
        align-items: center;
    }
}

@media (max-width: 600px){
    .navbar ul{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
       
    }
    .navbar li{
        margin:10px ;
    }
}


/*day 14 - positioning + responsive navbar design*/

.parent{            /*isme parent box hai aur uske andr child box aur child box using parentnt box as a relative space and we are moving child box using absolute postion*/
    height:500px;
    width:500px;
    border:2px solid black;
    position:relative;    

} 

.child{
    height:50px;
    width:50px;
    border:2px solid black;
    
    position:absolute;      /*  ek sath mat use kro use kro top+right,left  & bottom+right,left  */
    right:230px;
    bottom:150px;
}



.rbox{                   /*ye relative box hai means parent box or is ham pura move krwa re hai ham direct screen pr screen=parent rbox=child*/
    height:200px;                        /*  parent = refrence area   */
    width:300px;                         /*  child  = child uses parent size as refrence   */
    border:2px solid black;

    position:relative;

    top:50px;
    left:500px;
    margin-bottom:60px;
     display:flex;
    justify-content: center;
    align-items:center;

}

/* or  position:fixed hamne apne navbar me use kiya  to tittle chip gaya tha to title me div tag lagaya name diya fir usko marging-top:60px; kra*/




/* day 15 content transform and transition*/


/* 1st) container ka basics kro 2nd) box ka basics kro aur fir transform lagao 
   3rd) agar smmoth transition chaiye to hover banao (.zoom-box:hover= hover hone pr kya change hoga) aur usme transform apply kr*/

.zoom-box{
    height:50px;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid purple;
    background-color: aqua;
    transition: 3s;
}
.zoom-boxB{
    height:50px;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid purple;
    background-color: aqua;
    transition: 3s;                  /* transition simple hover effect ke liye & animation complex ke liyez*/
}
.zoom-boxB:hover{
    transform:rotateX(360deg);
}

.zoom-box:hover{                   
    /*transform: translate(3cm,4cm);*/       /*(500px) or (2cm,3cm)  2cm in x direction and 3cm in y (bydefault and translateX horizontaly move kre ga box ko) and (y vertically */
    /*transform:rotate(180deg);*/        /*try kro rotateX,y and  h*/
    transform:scale(2,2);
}

.container{
    height:300px;  
    width:95vw;
    border:2px solid rgb(124, 84, 48);   
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap:30px;
}





/*day 16 content css animation   (sab asan hai isme ek hi format pr kam multiple time kam kar se) a bit same as transition but better*/


.parent-box{
    height:500px;
    width:95vw;
    border:2px solid black;
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element{
    height:40px;
    width:40px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

/*  animation: name  duration timing-function delay iteration-count direction fill-mode;    sb ke bare me search kr  */
    animation: rumansAnimation 4s ease-out 0.1s 2 ,
               rumansAnimationIn-percent 4s ease-in-out 0.5s 1;
}



@keyframes rumansAnimation{
    from{
        background-color: aqua;
    }
    to{
        /*transform: rotate(360deg);     agar ek hi anikmation use kr rahe ho to isi lagao warna agar 2 animation use kr rahe ho to ye ek duse me overlap krega isis liye comment out kr diya*/  
        /*transform:scale(2,2);*/
        background-color: rgb(115, 83, 141);
    }
}

/*ek hi element pr ham muliple animations kr sakte hai*/
@keyframes rumansAnimationIn-percent{          

    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(200px,0);
    }
    50%{
        transform: translate(200px,200px); border-radius:50% ;
    }
    75%{
        transform: translate(0,200px);
    }
    100%{
        transform:translate(0,0)
    }
}

/*opacity  (jo child box me content tha pahele usko class name deke <p> bnaya fir css me animation laga diya uspe animation use krke )*/
.text{
    animation: opacity 4s ease 1;
    margin: 0;       
}
@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}





/*day 17 - CSS grid (a bit same as flexbox but a lot better)*/

.parent-box-grid{
    margin-top:20px;
    border:2px solid black;
    display:grid;
    grid-template-columns:100px 100px 100px;  /* u can use (1fr 1fr 1fr) ye width me jitni bhi jagha hogi uska 3 hissa kr dega matlab 1fraction mere do 1 isko 1 usko*/ 
    grid-template-rows:100px 100px;
}

.item{
    height:30px;
    /*width:30px;  (box to strech krne h to chaudai ki limit to hatani padigi)*/
    border:3px solid rgb(37, 137, 150);
    margin:10px;

}


/*boxes ko uski jagaha pe se kahi bhi rakh sakte 
hai agr duse box ki jagha pe rakhe ge to wo wla box slide hojayega nahuya huya 1more kr(boxes ki position ko reverse kr diya)*/

.item-5{   
    grid-row: 1/2;
    grid-column:1/2;
}
.item-5{
    grid-row: 1/2;
    grid-column:1/2;
}

.item-4{
    grid-column: 2/3;
    grid-row:1/2;
}
.item-3{
    grid-column: 3/4;
    grid-row:1/2;
}
.item-2{                       /*isko pure row column and anpe row ki jagha de diya*/
    grid-column: 1/4;
    grid-row:2/3;
}
.item-1{                     /*fir man kiya ti 1 ko beech me ghusa diya maine*/
    grid-column: 2/3;
    grid-row:2/3;
}



                              /* grid 2 */

.parent-box-grid{
    background-color: aqua;
    height:500px;
    width:95vw;
    margin-top:10px;
    border:3px solid black;
    gap:10px;
    display:grid;
    grid-template-areas: "header footer footer"
                         "nav nav nav"
                         "hi hi bye";
    justify-items: center;  /* (items) grid cell ki andr hi center me dal dega   or  (content) parent box ka jo area hai uske beech me kre ga */
    align-items: center;
}

.item{
    height:30px;
    border:2px solid black;
    gap:10px;
}


.item-1{
    grid-area:footer;
}
.item-2{
    grid-area:nav;
}
.item-3{
    grid-area:header;
}
.item-4{
    grid-area:hi;
}
.item-5{
    grid-area:bye;
}



/* (((important)))       in mobile it would arranged in center for grid 1*/

@media (max-width: 600px){
    .parent-box-grid{
        grid-template-columns: 1fr;
    }
    .item{
        grid-column: auto;
        grid-row: auto;

    }
}
