body{
    background-color: #d1bdbd;
    font-family: arial;
}

h1{
    colour:black;
    text-align:center;
}

h2{
    color:black;
}


p{
    font-size:18px;
}

                          /* day 10 of coding content*/


h1{
    margin-top:60px;
}

p{
    margin-left:20px;
}

img{
    margin-left:20px;
    border:8px groove rgb(103, 92, 103);
}

table{
    margin:20px;
    border:4px inset black;
}

div{
    padding:20px;   /*background or border nahi hai to padding margin jaisa kam krta h top,bottom,left,right har traf padding applt hoja ga*/
}







                         /* Day 11 of coding content*/


ul{
    list-style: none;  
    padding:0;          /*  ye list ki padding hai*/
    background-color:rgb(191, 187, 187);
    padding:10px;       /*  ye background color ki padding hai*/
}

li{
    display:inline;
    padding:10px;
}

a{
    text-decoration:none;     /*text docration isi liye lagate hai jaisa ancor tag me home hai to usme underline kiya huya ata hai usko hatane k liye*/
    color: black;
}

a:hover{
    color:rgb(54, 54, 193);
}

/* day 12 flexbox styling*/

.box-container{
    border:2px solid black;
    display:flex;
    justify-content:center;   /*space-between*/
/*tum khud se bhi box container ki height set kr sakte ho , ex) height 300px; or isme tum (align-items:center); kro but but bydefault content ke size ke hisab se adjust hota hai isme align items lagane ki zrurat nahi*/
    gap:200px;
   flex-direction: column;
   align-items:center;
}

.box{
    border: 2px solid black;
    background-color: rgb(147, 87, 147);
    height:25px;
    width:25px;
    padding:20px;  /*jo box ke andr likha hao wo beech me ayega*/
    margin:20px;    /* it creates space between boxes*/
}